{% extends "base.html" %}
{% load kargo_tags %}

{% block title %}Kargo Listesi{% endblock %}

{% block content %}
    
    {% if is_admin %}
    <div class="admin-message"> **Yönetici Paneli Mesajı:** Yeni kargo eklemek için <a href="{% url 'admin:index' %}">Admin Sayfasına</a> gidin.
    </div>
    <hr> 
    {% endif %}

    <h1>Kargo Takip Listesi</h1>
    
    <input type="search" placeholder="Ara..." class="search-input"> <hr>

    <ul class="kargo-liste">
        {% for gonderi in gonderiler %}
        <li>
            <strong>Takip No:</strong> {{ gonderi.takip_no }} <br>
            <strong>Alıcı:</strong> {{ gonderi.alici_isim }} }} <br>

            <strong>KDV'siz Fiyat:</strong> {{ gonderi.fiyat|floatformat:2 }} TL <br>
            <strong>KDV Dahil (%20):</strong> {% kdv_ekle gonderi.fiyat %} TL <br>

            <hr>

            <strong>Durum:</strong> {{ gonderi.durum }}
            
            {% if gonderi.durum == "TESLIM" %}
                <span class="status-message" style="color: green;">✅ Teslimat Başarılı!</span>
            {% else %}
                <span class="status-message" style="color: orange;">📦 Yolda...</span>
            {% endif %}

            <p class="detail-link-container"> <a href="{% url 'kargo_detay' gonderi.takip_no %}">Kargo Detayını Gör</a>
            </p>

        </li>
        {% endfor %}
    </ul>

{% endblock %}